@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@300&display=swap');

:root {
    --font-family: 'Fredoka One', cursive;
    --secundary-font: 'Montserrat', sans-serif;
    --primary-color: #A61F69;
    --bg-color: #F2CD5C;
    --bg-botao: #F2921D;
    --secundary-color: #400E32;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
    font-family: var(--secundary-font);
}

.box {
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    display: inline-block;
    font-size: 2em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding: 8px 15px;
    border: 0;
    cursor: pointer;
    background: var(--bg-botao);
    color: var(--secundary-color);
    border-radius: 5px;
    margin-top: 20px;
}

.btn-jogar:active {
    position:relative;
    top:2px;}

